---
import Layout from "@/layouts/Layout.astro";
import { publications } from "@/data/cv";

function extractHref(html: string) {
  const match = html.match(/href="([^"]+)"/);
  return match ? match[1] : "#";
}

const ALL_PAPERS = publications;
---

<Layout title="Papers | Elia Gonzato">
  <div class="prose max-w-none">
    <h1 class="text-3xl text-blue-900 font-bold mb-8">Publications</h1>

    <div class="space-y-6">
      {
        ALL_PAPERS.map((paper) => (
          <div class="card bg-base-200">
            <div class="card-body p-3 md:p-5">
              <h2 class="card-title text-3xl md:text-4xl mb-1">
                <p class="text-lg md:text-xl mt-0 text-blue-900 font-bold">
                  {paper.title}
                </p>
              </h2>
              <p class="text-base md:text-lg text-black mb-4">{paper.abstract}</p>
              <div class="card-actions justify-end">
                <a 
                  href={extractHref(paper.contentHtml)}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="btn btn-sm bg-blue-900 border border-blue-900 text-white hover:bg-white hover:text-blue-900 transition duration-300 ease-in-out"
                >
                  Read
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</Layout>