@font-face {
  font-family: 'Inter';
  src: url('/PortfolioSetUp/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* range di peso supportato */
  font-style: normal;
  font-display: swap;
}

/* Aggiungi altri pesi se ti servono */

body {
  font-family: 'Inter', sans-serif;
}
