---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'
import UMCLogo from '@/assets/umc-amsterdam-logo-short.png'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-title font-bold mb-4'>
    Welcome! I'm <span class='text-blue-900'>Elia</span>
  </h1>
  <div class="flex items-center gap-2 text-xl font-display font-bold text-blue-900 mb-4">
  <span>
    PhD Candidate Biostatistics 
    <a href='https://www.amsterdamumc.org/en/organization/amsterdam-umc.htm' class="hover:text-accent">
      @AUMC,
    </a> 
    <a href='https://decisionmodelingcenter.nl/' class="hover:text-accent">
      @Decision Modelling Centre
    </a>
  </span>
  <Image
    src={UMCLogo}
    alt="UMC Amsterdam logo"
    class="w-8 h-8 object-contain"
  />
</div>

  <p class='text-lg mb-6 font-sans'>
    I am a PhD Candidate in Biostatistics at Amsterdam University Medical Centre. I graduated in Biostatistics from University of 
    <a href='https://www.unimib.it/' class="text-blue-900 hover:text-accent">
      Milano Bicocca,
    </a> 
    during which I took part in a hackathon organized by SAS were I was awarded the runner-up prize. I worked on my master thesis at
    <a href='https://ki.se/en' class="text-blue-900 hover:text-accent">
    Karolinska Institutet.
    </a> <br><br>
    I worked as a junior researcher at 
    <a href='https://www.erasmusmc.nl/en/' class="text-blue-900 hover:text-accent">
    Erasmus University Medical Center
    </a>
    at the Department of Public Health. I am now affiliated with
    <a href='https://www.amsterdamumc.org/en/research/knowledge-centers/leukodystrophy-center.htm' class="text-blue-900 hover:text-accent">
    Amsterdam Leukodystrophy Center,
    </a>
    within
    <a href='https://www.amsterdamumc.nl/nl/emmakinderziekenhuis/home.htm' class="text-blue-900 hover:text-accent">
    Emma Children's Hospital,
    </a>
    and the
    <a href='https://www.amsterdamumc.org/en/departments/epidemiology-and-data-science-eds.htm' class="text-blue-900 hover:text-accent">
    Department of Epidemiology and Data Science.
    </a><br><br>
    My research focuses on improving clinical trials designs and statistical tools in ultra-rare diseases, where the availability of patients is constrained and the heterogeneity to study very wide. To improve the available methods and give my contribution to the field I am diving into causal inference and Bayesian statistics.
    <br><br>
    Reach out if we are interested in the same topics and want to share your thoughts!
  </p>
</div>
<div class="w-40 h-40 lg:w-64 lg:h-64 rounded-full border-4 border-blue-900 p-[2px] shadow-lg overflow-hidden">
  <Image
    src={profilePicture}
    alt={fullName}
    class="w-full h-full rounded-full object-cover"
  />
</div>

