---
import { Image } from 'astro:assets'

import SocialIcons from './SocialIcons.astro'
import UMCLogo from '@/assets/umc-amsterdam-logo-short.png'


const {fullName, title, institute, profilePicture} = Astro.props
---
<div class='flex-1'>
  <h1 class='text-4xl font-title font-bold mb-4'>
    Hi! I'm Elia Gonzato <span class='text-blue-900'></span>
  </h1>
  <div class="flex items-center gap-2 text-xl font-display font-bold text-blue-900 mb-4">
  <span>
    PhD Candidate Biostatistics 
    <a href='https://www.amsterdamumc.org/en/organization/amsterdam-umc.htm' class="hover:text-accent">
      @AUMC
    </a> 
    <!-- <a href='https://decisionmodelingcenter.nl/' class="hover:text-accent">
      @Decision Modelling Centre
    </a> -->
  </span>
  <Image
    src={UMCLogo}
    alt="UMC Amsterdam logo"
    class="w-8 h-8 object-contain"
  />
</div>

  <p class='text-lg mb-6 font-sans'>
    I hold a Master’s in Biostatistics from the
    <a href='https://www.unimib.it/' class="text-blue-900 hover:text-accent">
     University of Milano Bicocca
    </a> 
    . During my Master's, I took part in a hackathon organized by SAS, where I received the runner-up prize in the "Data Analysis" category. I completed my thesis at
    <a href='https://ki.se/en' class="text-blue-900 hover:text-accent">
    Karolinska Institutet.
    </a> <br><br>
    I previously worked as a junior researcher at 
    <a href='https://www.erasmusmc.nl/en/' class="text-blue-900 hover:text-accent">
    Erasmus University Medical Center
    </a>
    at the Department of Public Health. I am currently affiliated with the
    <a href='https://www.amsterdamumc.org/en/research/knowledge-centers/leukodystrophy-center.htm' class="text-blue-900 hover:text-accent">
    Amsterdam Leukodystrophy Center,
    </a>
    at
    <a href='https://www.amsterdamumc.nl/nl/emmakinderziekenhuis/home.htm' class="text-blue-900 hover:text-accent">
    Emma Children's Hospital,
    </a>
    and the
    <a href='https://www.amsterdamumc.org/en/departments/epidemiology-and-data-science-eds.htm' class="text-blue-900 hover:text-accent">
    Department of Epidemiology and Data Science.
    </a><br><br>
    My research focuses on improving clinical trial design and statistical methods for ultra-rare diseases, where patient availability is limited and heterogeneity is high. I am particularly interested in causal inference and Bayesian statistics.
    <br><br>
    I’d love to connect with others working on similar topics — feel free to reach out!
  </p>
</div>
<div class="w-40 h-40 lg:w-64 lg:h-64 rounded-full border-4 border-blue-900 p-[2px] shadow-lg overflow-hidden">
  <Image
    src={profilePicture}
    alt={fullName}
    class="w-full h-full rounded-full object-cover"
  />
</div>

