---
interface Props {
  listTitle: string;
  listItems: {
    title: string;
    description: string;
  }[];
}
const {listTitle, listItems} = Astro.props
---
<h2 class="text-2xl text-blue-900 font-bold mb-6">{listTitle}</h2>
<div class="space-y-6">
  {
    listItems.map((item) => (
      <div class="p-6 rounded-lg bg-gradient-to-br from-blue-900 to-blue-800 rounded-xl text-base-content border border-blue-200/20 shadow-lg hover:scale-105 transition-transform">
        <h3 class="text-xl text-white font-semibold mb-3">{item.title}</h3>
        <p class="text-white">{item.description}</p>
      </div>
    ))
  }
</div>
